<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="/stylesheets/read.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Read Note</title>
</head>
<body>
  <div class="m-cont">
  
  
    <div class="first-sec-nav">
        <!-- nav bar  -->
    <div class="nav-cont">
  
    <div class="first-child">

    <div class="side-icon"> <i class="fa-solid fa-bars"></i> </div>
    <div class="logo"><img src="/images/hadfisolutions.png" alt=""></div>
    <div class="search"><input type="search" name="search" id="search" placeholder="Search"></div>
   </div>
   
   <div class="second-child">

     <div class="setting"></div>
   </div>


        </div>
  </div>
                                                                            <!-- nav ends here  -->
  <!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

  <!-- <div class="side-bar-cont"></div> -->
  
     
  <div class="second-sec-sidebar-inputs-content">
    <!-- content here   -->
    <div class="m-content-cont">
      <h1 class="title"><%=readTask.title%></h1>
      <h3 class="details"><%=readTask.details%></h3>
    </div>
    
  </div>
<!-- second-sec-sidebar-inputs-content ends -->



    </div>
</body>
</html>

